name: Build lxrad
on: [push]
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: sudo apt-get install libwxgtk3.0-gtk3-dev libopenal-dev doxygen
      - name: Build
        run: |
          ./make_deps.sh
          ./configure
          make
  build-macos:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: brew install wxwidgets openal-soft doxygen
      - name: Build
        run: |
          ./make_deps.sh
          ./configure LDFLAGS=-L/usr/local/opt/openal-soft/lib CFLAGS=-I/usr/local/opt/openal-soft/include
          make
